# Passive OSINT API Keys
HUNTER_API_KEY= 2417502fb40849d9e6f2ac0eb3491413dfea6412
VIRUSTOTAL_API_KEY= 502b35b25bf352200b9d80e947c10e4619a076ca80989cf527bc03c90b1b407d
# BREACH_DIRECTORY_API_KEY=your_free_key_here (Free Alternative to HIBP)
SHODAN_API_KEY=	
YF8ksc214uXRehe3TKnqGimotfxuSpUt

# Configuration
NMAP_PATH=C:\Program Files (x86)\Nmap\nmap.exe