# Passive OSINT API Keys
HUNTER_API_KEY= 
VIRUSTOTAL_API_KEY= 
# BREACH_DIRECTORY_API_KEY=your_free_key_here (Free Alternative to HIBP)
SHODAN_API_KEY=	


# Configuration
NMAP_PATH=C:\Program Files (x86)\Nmap\nmap.exe
